!!!
%html
  %head
    %title Iouapp2
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .container
        %a.navbar-brand{href: '/'} IOUAPP
        %ul.nav.navbar-nav
          %li.dropdown
            %a.dropdown-toggle{href: "/contracts", 'data-toggle' => "dropdown"}
              Contracts
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: "/contracts/checkbook"} Overview
              %li.divider
              %li
                %a{href: "/contracts/payback"} Pending Paybacks
              %li
                %a{href: "/contracts/new"} New Contract
        - if user_signed_in?
          =link_to "Sign out", destroy_user_session_path, :method => :delete, class: "btn btn-default navbar-btn pull-right"
          %h4.navbar-text.pull-right
            Welcome back, 
            %a.email{href: "#"}
              %span.label.label-info= current_user.email
        - else
          %form{action: "/users/sign_up", method: "get"}
            %button.btn.btn-default.navbar-btn.pull-right Sign up
          %p.navbar-text.pull-right or
          %form{action: "/users/sign_in", method: "get"}
            %button.btn.btn-default.navbar-btn.pull-right Sign in
          %p.navbar-text.pull-right Please

    .container
      - if (params[:controller] != 'devise/sessions' && params[:controller] != 'devise/registrations')
        = insertFlash('error')
        = insertFlash('notice')
        = insertFlash('alert')
      = yield